{% extends 'layout.html' %}

{% block banniere %}
L'ASSOCIATION
{% endblock %}

{% block core %}
<div class="text-content">
    <p>
        Le Théâtre du Labyrinthe est une compagnie de théâtre professionnelle basée à Chartres et gérée par
        une association loi 1901.
    </p>
    <p>
        Elle a pour vocation de créer des spectacles et de proposer des ateliers théâtre pour adolescents et
        adultes.
    </p>

    <p>Le bureau est actuellement constitué de :</p>
    <ul>
        <li>
            la Présidente : <span class="name">Linda EUPHRASIE</span>
        </li>
        <li>
            la Trésorière : <span class="name">Kimberley SAUVAGE</span>
        </li>
        <li>
            le Secrétaire : <span class="name">Bernard BRUNETEAU</span>
        </li>
    </ul>

    <p>
        Les ateliers sont menés par <span class="name">Gwenaëlle ANGLADE</span>, comédienne et metteur en
        scène de la compagnie. Gwenaëlle ANGLADE est également professeur d'art dramatique au
        Conservatoire de Lucé depuis septembre 2017. Vous souhaitez en savoir plus sur Gwenaëlle ANGLADE,
        <a href="dist/fichiers/CV-2022.pdf" target="_blank">
            <span style="font-weight: bold;">retrouvez ici son parcours (CV) </span>
        </a>
        au format PDF.
        (Une seconde version de son CV est disponible sous une autre forme
        <a href="dist/fichiers/CV-2022b.pdf" target="_blank">
            <span style="font-weight: bold;">ici</span></a>.)
    </p>
    <p>
        Le clip du dernier spectacle est téléchargeable ici :
        <a href="dist/fichiers/clip-olympe.mp4" target="_blank">
            <span style="font-weight: bold;">Clip Liberté, Égalité, Olympe de Gouges</span>
        </a>
        ou sur
        <a href="https://www.youtube.com/watch?v=vghP_MYKX-8" target="_blank">
            <span style="font-weight: bold;">Youtube</span></a>.
    </p>
    <p>
        Vous pouvez retrouver
        <a href="dist/fichiers/règles-laby.pdf" target="_blank">
            <span style="font-weight: bold;">ici</span>
        </a>
        les règles de l'association du Théâtre du Labyrinthe.
    </p>

</div>
{% endblock %}

{% block sources %}
{% endblock %}
