{% extends 'layout.html' %}

{% block banniere %}
Bleue Nuit
{% endblock %}

{% block core %}
<div class="text-content">
    <br>
    <p>
        "Soyez vous-mêmes tous les autres sont déjà pris" Oscar Wilde.
    </p>
    <p>
        Mais qui sommes-nous ? Ce que l'on veut, ce que l'on croit, ce que le regard de l'autre nous renvoie?...
        Agathe, top modèle reconvertie, fait mener la vie dure à ses proches, à ses collègues et à son brillant élève
        Barnabé, futur styliste prometteur. Autour d'eux, une vingtaine de personnages avec chacun leur problématique,
        se débattent dans la joie et les larmes, tentant tous d'accéder, à leur "vérité"..
    </p>
    <a class="clk-spec" href="galerie-bleue-nuit.html">
        Galerie du spectacle
    </a>

</div>
{% endblock %}

{% block sources %}
{% endblock %}
