{% extends 'layout.html' %}

{% block banniere %}
COACHING PERSONNALISÉ
{% endblock %}


{% block core %}
<div class="text-content">
    <br>
    <br>
    <br>
    <p>
        Comment prendre la parole en public ?
    </p>

    <p>
        Travaillez un ensemble de techniques pour transformer sa peur, incarner son texte, maîtriser sa voix et faire de
        la prise de parole un plaisir et non plus une peur. Un programme adapté à chacun des élèves selon ses
        problématiques et ses objectifs.
    </p>

    <p>
        <span class="name">Toutes les séances sont personnalisées !</span>
    </p>

    <p>
        Pour plus de renseignement, appellez le : <span class="name">06.20.66.49.76</span>.
    </p>

    <p>
        Les séances de coaching personnalisé sont menées par <span class="name">Gwenaëlle ANGLADE</span>, comédienne
        et metteur en scène de la compagnie. Gwenaëlle ANGLADE est également professeur d'art dramatique au
        Conservatoire de Lucé depuis septembre 2017.
    </p>

</div>
{% endblock %}

{% block sources %}
{% endblock %}
