{% extends 'layout.html' %}

{% block banniere %}
CONTACT
{% endblock %}

{% block core %}
<div class="text-content">
    <p>
        Adresse mail de l'association :
        <a href="mailto:theatredulabyrinthe@yahoo.com">
            <b>theatredulabyrinthe@yahoo.com</b>
        </a>
        <br> <br>
        Adresse mail de <span class="name"> Gwenaëlle ANGLADE </span> :
        <a href="mailto:gwen.anglade@gmail.com">
            <b>gwen.anglade@gmail.com</b>
        </a>
        <br> <br>
        Téléphone de <span class="name">Gwenaëlle ANGLADE</span> : <b>06 20 66 49 76</b>
        <br> <br>
        <span class="facebook">Facebook</span> de l'association : <a style='font-size: 20px;'
            href="https://www.facebook.com/TheatreduLabyrinthe/" target="_blank" class="fa fa-facebook"></a>
        <br> <br>
        Éditeur du site : Paul Patault
        <a href="mailto:patault@pm.me"><b>(patault@pm.me)</b></a>
    </p>

</div>
{% endblock %}

{% block sources %}
{% endblock %}
