{% extends 'layout.html' %}

{% block banniere %}
CRÉATIONS ADULTES
{% endblock %}

{% block core %}
<div class="content" style="padding-top: 4%;" id="affiches_big_container">
    <div class="aff-cont"><img class="affiche" src="dist/affiches/adultes/olympe3.avif">
        <div class="overlay">
            <div class="text-overlay">Liberté, Égalité, Olympe de Gouges - Création 2023 Gwenaëlle Anglade<br><br><a href="" class="clk">Plus d'informations</a></div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/adultes/olympe2.avif">
        <div class="overlay">
            <div class="text-overlay">Liberté, Égalité, Olympe de Gouges - Création 2023 Gwenaëlle Anglade<br><br><a href="" class="clk">Plus d'informations</a></div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/adultes/olympe.avif">
        <div class="overlay">
            <div class="text-overlay">Liberté, Égalité, Olympe de Gouges - Création 2022 Gwenaëlle Anglade<br><br><a href="" class="clk">Plus d'informations</a></div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/adultes/rouge-cerise-2022.avif">
        <div class="overlay">
            <div class="text-overlay">Rouge Cerise - reprise - Création 2022 Gwenaëlle Anglade<br><br><a href="rouge-cerise-2022.html" class="clk">Plus d'informations</a></div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/adultes/Bleue_Nuit_White.avif">
        <div class="overlay">
            <div class="text-overlay">Bleue Nuit - Création 2018 Gwenaëlle Anglade<br><br><a href="bleue-nuit.html" class="clk">Plus d'informations</a></div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/adultes/Echec_Mat.avif">
        <div class="overlay">
            <div class="text-overlay">Echec &amp; Mat - Création 2015 Gwenaëlle Anglade<br><br><a href="echec-et-mat.html" class="clk">Plus d'informations</a></div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/adultes/Green_Paradise.avif">
        <div class="overlay">
            <div class="text-overlay">Green Paradise - Création 2016 Gwenaëlle Anglade<br><br><a href="green-paradise.html" class="clk">Plus d'informations</a></div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/adultes/Les_caprices_de_nina.avif">
        <div class="overlay">
            <div class="text-overlay">Les Caprices de Nina - Création 2013 Gwenaëlle Anglade<br><br><a href="les-caprices-de-nina.html" class="clk">Plus d'informations</a></div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/adultes/Oui_V2_WEB.avif">
        <div class="overlay">
            <div class="text-overlay">Oui je le veux - Création 2019 Gwenaëlle Anglade<br><br><a href="oui-je-le-veux.html" class="clk">Plus d'informations</a></div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/adultes/Rouge_cerise.avif">
        <div class="overlay">
            <div class="text-overlay">Rouge Cerise - Création 2017 Gwenaëlle Anglade<br><br><a href="rouge-cerise.html" class="clk">Plus d'informations</a></div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/adultes/Un_pepin_dans_la_paille.avif">
        <div class="overlay">
            <div class="text-overlay">Un Pépin dans la Paille - Création 2014 Gwenaëlle Anglade<br><br><a href="un-pepin-dans-la-paille.html" class="clk">Plus d'informations</a></div>
        </div>
    </div>
</div>
{% endblock %}

{% block sources %}
{% endblock %}
