{% extends 'layout.html' %}

{% block banniere %}
CRÉATIONS ENFANTS
{% endblock %}

{% block core %}
<div class="content" style="padding-top: 4%;" id="affiches_big_container">
    <div class="aff-cont"><img class="affiche" src="dist/affiches/enfants/enfants-2023.avif">
        <div class="overlay">
            <div class="text-overlay">3 spectacles en 1 ! - Création 2023 Gwenaëlle Anglade</div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/enfants/enfants-2022.avif">
        <div class="overlay">
            <div class="text-overlay">3 spectacles en 1 ! - Création 2022 Gwenaëlle Anglade</div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/enfants/Conte_a_l_endroit.avif">
        <div class="overlay">
            <div class="text-overlay">Conte à l'endroit, un compte à l'envers - Création 2018 Gwenaëlle Anglade</div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/enfants/Les_aventures_d_arthur.avif">
        <div class="overlay">
            <div class="text-overlay">Les Aventures d'arthur - Création 2018 Gwenaëlle Anglade</div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/enfants/Fantomes.avif">
        <div class="overlay">
            <div class="text-overlay">Les Petits Fantomes de Joséphine - Création 2017 Gwenaëlle Anglade</div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/enfants/La_peche_aux_reves.avif">
        <div class="overlay">
            <div class="text-overlay">La Pêche aux reves - Création 2015 Gwenaëlle Anglade</div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/enfants/CLAP.avif">
        <div class="overlay">
            <div class="text-overlay">CLAP - Création 2017 Gwenaëlle Anglade</div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/enfants/4_3_2_1.avif">
        <div class="overlay">
            <div class="text-overlay">4 3 2 1, un compte à l'envers - Création 2016 Gwenaëlle Anglade</div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/enfants/La_fee_du_robinet.avif">
        <div class="overlay">
            <div class="text-overlay">La Fée du robinet - Création 2015 Gwenaëlle Anglade</div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/enfants/Blanche_Neige.avif">
        <div class="overlay">
            <div class="text-overlay">Blanche Neige - Création 2016 Gwenaëlle Anglade</div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/enfants/Boussole.avif">
        <div class="overlay">
            <div class="text-overlay">HOP HIP ou la boussole qui déboussole - Création 2017 Gwenaëlle Anglade</div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/enfants/Coffre_Magique.avif">
        <div class="overlay">
            <div class="text-overlay">Le Coffre Magique et La Répétition - Création 2018 Gwenaëlle Anglade</div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/enfants/Miss_terre.avif">
        <div class="overlay">
            <div class="text-overlay">Miss Terre et Boule de gomme - Création 2018 Gwenaëlle Anglade</div>
        </div>
    </div>
    <div class="aff-cont"><img class="affiche" src="dist/affiches/enfants/Silence_ca_tourne.avif">
        <div class="overlay">
            <div class="text-overlay">Silence ça tourne - Création 2016 Gwenaëlle Anglade</div>
        </div>
    </div>
</div>
{% endblock %}

{% block sources %}
{% endblock %}
