{% extends 'layout.html' %}

{% block banniere %}
Echec et Mat
{% endblock %}

{% block core %}
<div class="text-content">
    <br>
    <br>
    <p>
        Achille, metteur en scène et professeur de théâtre, suite à un accident mortel de voiture de l'un de ses
        élèves, suspend les répétitions de son spectacle, car son comédien, Camille, père du jeune défunt , est sous
        état de choc. Angèle, sa femme, avocate s'apprête à défendre les intérêts de sa nouvelle cliente, Claudia, femme
        d'Igor, frère de Camille, et maîtresse de Casimir, l'éditeur de Victorien le jeune auteur qui refuse les droits
        d'auteurs à Achille...
    </p>
    <p>
        Les destins de chacun de ces personnages se croisent et s'entre-croisent.Comment vont-ils faire face aux
        obstacles qui entravent leur chemin?...
        Dans le rire, les larmes, le suspens, le destin de ces personnages se dessine petit à petit...
    </p>
    <p>
        «La vie est comme un jeu d'échec: nous esquissons un plan mais celui-ci est tributaire de
        ce que daigne faire l'adversaire aux échecs et le destin de la vie».
        Arthur Shopenhauer.
    </p>


</div>
{% endblock %}

{% block sources %}
{% endblock %}
