{% extends 'layout.html' %}

{% block banniere %}
Green Paradise
{% endblock %}

{% block core %}
<div class="text-content">
    <br>
    <p>
        Tragi-comédie à caractère musical.
    </p>
    <p>
        Au lendemain des attentats, un groupe de jeunes musiciens se retrouve sans salle de répétition et sans
        chanteur, hospitalisé dès lors.
    </p>
    <p>
        En parallèle au conservatoire municipal de musique, dirigé par une femme rigide et à priori réactionnaire
        l'atmosphère bat son plein:Entre Barthélémy, toujours amoureux de sa future ex-femme de Gladys, Alban
        qui aime Clara qui aime Joseph qui aime Héloïse qui aime Tristan,les trois «Ines»Intenables... Un
        scandale va éclater et bousculer plusieurs destins...
    </p>
    <p>
        «Dans la vie on a toujours le choix: Aimer ou détester,assumer ou fuir, avouer ou mentir,
        être soi même ou faire semblant»
    </p>
    <p>
        Nelson Mandela
    </p>
    <a class="clk-spec" href="galerie-green-paradise.html">
        Galerie du spectacle
    </a>

</div>
{% endblock %}

{% block sources %}
{% endblock %}
