{% extends 'home.html' %}

{% block modal %}
<!-- Button trigger modal -->
<button style="display:none" type="button" id="bts-modal-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> </button>

<!-- Modal -->
<div class="modal fade show" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: #E8D4B7; color:#2C1607;">
            <!-- titre -->
            <div class="modal-header">
            <!-- corps -->
                <h5 class="modal-title" id="staticBackdropLabel">
                    Spectacles du Labyrinthe, <b>fin 2023</b>
                </h5>
            </div>
            <!-- corps -->
            <div class="modal-body" style="color:#2C1607; font-size:16px">
                <div style="text-align:justify">
                    Venez voir les nouvelles créations et mises en scène du Théâtre du Labyrinthe ! <br><br>

                    Vous retrouverez le Petit Théâtre du Labyrinthe le samedi <b>3 juin</b>,
                    pour ses spectacles enfants, ados et ados confirmés ! <br>
                    <!-- Cette année, le Théâtre du Labyrinthe vous présente sa nouvelle création originale <b> Misia, ou l'intelligence artificielle </b> ! -->
                    <br>
                    <br>
                  <center>
                      <img width="50%" src="dist/affiches/adultes/misia.png">
                  </center>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-6 col-sm-6">
                        <img width="100%" src="/static/resources/affiches/enfants/enfants-2023.png">
                                    </div>
                                    <div class="col-6 col-sm-6">
                        <img width="100%" src="/static/resources/affiches/adultes/rouge-cerise-2022.png">
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <i> Réservez dès maintenant en cliquant sur la date souhaitée : </i>
                    <!-- <i> Réservez dès maintenant : </i> -->
                    <ul>
                        <li> <a style="color:#EA3323" href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/misia-ou-l-intelligence-artificielle-9-novembre-2023-a-20h30" target=_blank>Jeudi 9 Novembre</a>
                        <li> <a style="color:#EA3323" href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/misia-ou-l-intelligence-artificielle-22-novembre-2023-a-20h30" target=_blank>Mercredi 22 Novembre</a>
                    </ul>
                </div>
            </div>
            <!-- bouttons -->
            <div class="modal-footer">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-outline-danger" onclick="window.location.href='https://www.helloasso.com/associations/theatre-du-labyrinthe';" target="_blank">Réserver !</button>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
