{% extends 'home.html' %}

{% block modal %}

<button style="display:none"
        type="button"
        id="bts-modal-btn"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">
</button>

<div class="modal fade show"
     id="staticBackdrop"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content home">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    Spectacles du Labyrinthe, <b>fin 2024</b>
                </h5>
            </div>
            <div class="modal-body" style="color:#2C1607; font-size:16px">
                <div style="text-align:justify">
                    Venez voir les nouvelles créations et mises en scène du
                    Théâtre du Labyrinthe ! <br><br>
                    Vous retrouverez le (Petit) Théâtre du Labyrinthe le
                    <b>Samedi 29 et Dimanche 30 Juin</b>, pour ses spectacles
                    enfants, ados, ados confirmés et adultes ! <br>
                    <!-- Cette année, le Théâtre du Labyrinthe vous présente sa
                    nouvelle création originale <b> Misia, ou l'intelligence
                    artificielle </b> ! -->
                    <br> <br>
                    <div class="affiches_home">
                        <div> <img src="dist/affiches/adultes/2024.jpeg"> </div>
                        <div> <img src="dist/affiches/enfants/2024.jpeg"> </div>
                    </div>
                    <br>
                    Réservez dès maintenant en cliquant sur la date souhaitée.
                    <ul>
                        <li> <a class="resa_link"
                                 href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/2024-spectacles-enfants-ados-ados-confirmes"
                                 target=_blank
                             >Samedi 29 Juin — enfants et ados</a>
                        </li>
                        <li> <a class="resa_link"
                                href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/2024-spectacle-adultes-et-ados-confirmes"
                                target=_blank
                             >Samedi 29 Juin — adultes et ados confirmés</a>
                        </li>
                        <li> <a class="resa_link"
                                href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/2024-spectacle-adultes-et-ados-confirmes-dimanche"
                                target=_blank
                             >Dimancte 30 Juin — adultes et ados confirmés</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">Fermer</button>
                    <button type="button"
                            class="btn btn-outline-danger"
                            onclick="window.location.href='https://www.helloasso.com/associations/theatre-du-labyrinthe';"
                            target="_blank">Réserver !</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
