{% extends 'layout.html' %}

{% block banniere %}
Les Caprices de Nina
{% endblock %}

{% block core %}
<div class="text-content">
    <br>
    <p>
        L'amour résiste-t-il au temps ? Aux aléas de la vie ? Du couple ? De la vie de famille ? Confronté au contexte
        actuel de la crise économique, morale et existentielle ?
    </p>
    <p>
        Nina a trente ans et c'est la veille de son mariage.
    </p>
    <p>
        Comment cette jeune femme et les membres de sa famille se débattent et répondent à toutes ces questions ?
        Diversités et
        richesse de la nature humaine.
    </p>
    <p>
        Les paradoxes de l'être humain vus avec tendresse et piquante moquerie.
    </p>
    <p> 
        Comédie satyrique sur le mariage et réflexion transgénérationnel sur la famille moderne souvent chahutée mais
        toujours
        indispensable.
    </p>

</div>
{% endblock %}

{% block sources %}
{% endblock %}
