{% extends 'layout.html' %}

{% block banniere %}
Oui je le veux
{% endblock %}

{% block core %}
<div class="text-content">
    <br>
    <p>
        Une comédie romantique grinçante.
    </p>
    <p>
        Valentine et Julien se marient. Sont conviés à ce jour "heureux", famille, amis et ex...
        Une série de révélations et de secrets étouffés vont perturber le bon déroulement de la cérémonie et de la
        soirée.. Amour et tromperie, hypocrisie et jalousie, déni et double vie, fantasmes et sarcasmes..
        Cette comédie satyrique, portée par dix neuf comédiens amateurs et professionnels, présente des personnages qui
        vont se livrer, se révéler, se libérer. Les conséquences seront parfois improbables sur les destins de chacun...
    </p>
    <a class="clk-spec" href="galerie-oui-je-le-veux.html">
        Galerie du spectacle
    </a>

</div>
{% endblock %}

{% block sources %}
{% endblock %}
