{% extends 'layout.html' %}

{% block banniere %}
LES ATELIERS - rentrée
{% endblock %}

{% block core %}
<div class="content" style="padding-top: 4%;" id="rentree_container">
</div>
<div class="text-content" style="font-style:italic; margin-left:10%; margin-right:10%; text-align:center">
    <br>
    <br>
    <br>

    <p>
        Le Théâtre du Labyrinthe crée en 2010 ne cesse de se développer et compte à ce jour 5 ateliers ouverts à tous,
        petits et grands, confirmés et débutants.
    </p>
    <p>
        Prendre confiance en soi, partager, apprendre à maîtriser sa voix, à bouger sur scène, à gérer ses émotions et à
        s'ouvrir à l'autre : <br>
        Par des exercices ludiques, à l'appui de texte classiques et contemporains, nous travaillerons dans le but
        d'atteindre le lâcher prise qui ouvre toutes les portes au plaisir d'être sur sur scène et de développer la
        confiance en soi. <br>
        Après une séance de relaxation puis un training corporel en musique, pour faire circuler
        l'énergie, le travail sur le plateau peut commencer.
    </p>
    <p>
        L'année se clôture alors par une création écrite pour l'occasion et donne lieu à deux représentations
        publiques, avec des rôles écrits "sur mesure" pour chacun des participants.
    </p>
</div>
{% endblock %}

{% block sources %}
<script src="static/js/ateliers.js"> </script>
{% endblock %}
