{% extends 'layout.html' %}

{% block banniere %}
Rouge Cerise
{% endblock %}

{% block core %}
<div class="text-content">
    <br>
    <p>
        Rien ne va plus au Palais Saint Sulpice depuis la disparition de la Reine Ange...
    </p>
    <p>
        Comment le Roi Antoine et la servante Cerise vont s’y prendre pour sortir les princesses de leur déprime ?
        Pourquoi le Duc Gildas a séquestré un groupe de jeunes chimistes ? La belle sœur du roi, mère de deux
        pestes, va t elle réussir à approcher la couronne et à caser ses insupportables filles ? Qui va épouser le
        fameux Prince de Vendôme ? Les fées, Philippine et Honorine, les petites voix du Roi et du Prince seront
        elles de bons conseils ?
    </p>
    <a class="clk-spec" href="galerie-rouge-cerise.html">
        Galerie du spectacle
    </a>
</div>
{% endblock %}

{% block sources %}
{% endblock %}
