{% extends 'layout.html' %}

{% block banniere %}
Un Pépin dans la Paille
{% endblock %}

{% block core %}
<div class="text-content">
    <br>
    <p>
        Nina, jeune mariée, est enceinte mais rien ne se passe comme prévu.
    </p>
    <p>
        Entourée par les membres de sa famille et de ses amis, elle affronte la vie avec ses déboires et ses bonnes
        surprises.
        Dans des crises de fou rires, de doutes, de coup de gueule et de confidences, les personnages évoluent,
        s'affrontent, se
        soutiennent.
    </p>
    <p>
        Les sujets abordés font de cette tragi-comédie un portrait de la famille et de la société très actuel, mais
        positif et
        plein d'espoir!
    </p>
    <p>
        " Un Pépin dans la Paille " traite de sujets de fond avec tendresse, humour et optimisme !
    </p>

        <a class="clk-spec" href="galerie-un-pepin-dans-la-paille.html">
        Galerie du spectacle
    </a>
</div>
{% endblock %}

{% block sources %}
{% endblock %}
